<h3>Drinkers</h3>
<h4>Hi there, Drinker! What say you?</h4>
<ul>
  <% @drinkers.each do |drinker| %>
    <li>
      <%= drinker.name %>
      <br>
      <%= drinker.message %>
    </li>
  <% end %>
</ul>
