

<ul id='headline'>Hi internet and non-internet friends.</ul>

<h2 id='position'></h2>

<!-- <%= form_tag("/bar_crawl", method: "get") do %>
  <%= label_tag(:num_stops, "How many bars you finna hit?") %>
  <%= text_field_tag(:num_stops) %>
  <%= submit_tag("Search") %>
<% end %> -->


<script type="text/javascript">

  var latitude, longitude;

  navigator.geolocation.watchPosition(function(position) {
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
    var html = "Lat: " + latitude + "    Long: " + longitude;
    $('#position').html(html);


  // $('form').submit(function(event){
  //   event.preventDefault();
  //   number = $("#num_stops").val();

    $.ajax({
      url: '/bar_crawl',
      dataType: "json",
      method: 'get',

      success:function(data){
         console.log(data)

        for (var i = 0; i < data.crawls.length; i++) {
          //each crawl

          for (var x = 0; x < data.crawls[i].length; x++) {
            //console.log(data.crawls[i][x]);
            console.log(data.crawls[i][x].address);
            var li = $('<li>');
            $(li).text(data.crawls[i][x].name);
            console.log($(li));
            $('#headline').append($(li));
            // city
            // created_at: "2015-05-13T19:01:39.360Z"
            // id: 2716
            // lat: 41.89076289
            // license: "Tavern"
            // loc: 0
            // long: -87.62754901
            // name: "STAR OF SIAM"
            // state: "IL"
            // updated_at: "2015-05-13T19:01:39.360Z"
            // zip: 60611
          }
        }

      }
    });


    // $.get( "/bar_crawl", function( data ) {
    //   dataType: "json",
    //   $( "#headline" ).text( data );
    //
    // });
})

</script>
