


<h1 id='headline'>Hi internet and non-internet friends</h1>

<h2>How many bars would you like to crawl to?</h2>
<input type="number" placeholder="3" value=3>
<input type="submit" value="Let's Drink">

<h2 id='position'></h2>



<script type="text/javascript">

  var latitude, longitude;

  navigator.geolocation.watchPosition(function(position) {
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
    var html = "Lat: " + latitude + "    Long: " + longitude;
    $('#position').html(html);

}
    var numField = || 3;

    $.ajax({

      url: '/closest_bar',
      data: {lat: latitude, long: longitude, num_bars: },
      method: 'get',
      success:function(bars){
        console.log(bars)

        for (var i = 0; i < bars.length; i++) {
          $('#headline').append("You are near... " + bars[i].name);
        }

      }
    })

  })

</script>
