

<ul id='headline'><h1>Where are you starting the Choose your own Disaster Bar Crawl?</h1></ul>
<button type="button" id="getLocation">We're finna start here</button>
<h2 id='position'></h2>

<!-- <%= form_tag("/bar_crawl", method: "get") do %>
  <%= label_tag(:num_stops, "How many bars you finna hit?") %>
  <%= text_field_tag(:num_stops) %>
  <%= submit_tag("Search") %>
<% end %> -->




<script type="text/javascript">
$("#getLocation").click(function() {


  var latitude, longitude;
  navigator.geolocation.watchPosition(function(position) {
    $('#position').empty();
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
    var html = "Lat: " + latitude + "    Long: " + longitude;
    $('#position').html(html);

    $.ajax({
      url: '/bar_crawl',
      dataType: "json",
      method: 'post',
      data: { lat: latitude, long: longitude},
      success:function(data){
        for (var i = 0; i < data.bracket.length; i++) {
          var row = $('<div>').addClass('bar-row')
          for (var j = 0; j < data.bracket[i].length; j++) {
            var h3 = $('<span>').addClass('bar').text(data.bracket[i][j].name);
            row.append(h3);
          }
          $('body').append(row);
        }
      }
    });

});

});
</script>
