<h3>Bars!!!</h3>


<table>

  <% @bars.each do |bar| %>
    <tr>
      <td>
        <%="Name: "+ bar.name %>
        <%="Address: "+ bar.address %>
        <%="latitude: "+ bar.lat.to_s %>
        <%="longitude: "+ bar.long.to_s %>
      </td>
    </tr>
  <% end %>

</table>
