// Place all the styles related to the bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-image: url("http://media.urbandictionary.com/image/page/wasted-54091.jpg");
  background-size: cover;
}
